/* Google Fonts link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    width: 100%;
    color: #02040f;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

.single-centered-large {
    width: 95%;
    margin: 0 auto;
    max-width: 2500px;
}

.single-centered-medium {
    width: 95%;
    margin: 0 auto;
    max-width: 2000px;
}

.single-centered-small {
    width: 80%;
    margin: 0 auto;
    max-width: 1750px;
}

.left-half {
    width: 50%;
    float: left;
}

.right-half {
    width: 50%;
    float: left;
}

.left-third {
    width: 33%;
    float: left;
}

.center-third {
    width: 34%;
    margin: 0 auto;
    display: inline-block;
}

.right-third {
    width: 33%;
    float: right;
    clear: right;
}


/* Header, logo & menu */

header {
    background: rgba(2,4,15,0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    color: #efe9fa;
    padding-top: 10px;
    z-index: 3;
}

.logo {
    display: inline-block;
    font-size: 30px;
    text-transform: lowercase;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo span {
    text-transform: uppercase;
    color: #ffff00;
    font-weight: 500;
}


.menu {
    display: inline-block;
    list-style-type: none;
    line-height: 70px;
    font-size: 15px; 
}

.menu li {
    display: inline;
}

.menu a {
    text-decoration: none;
    color: #efe9fa;
    margin: 0 5px;
}

#menu-left {
    margin-left: 10px;
}

#menu-left a {
    color: #efe9fa;
}

#menu-left a:hover {
    text-decoration: underline;
}

#menu-right {
    float: right;
    position: relative;
    top: 5px;
}

#menu-right a {
    background: #00ffff;
    color: #02040f;
    padding: 5px 8px;
    border-radius: 10px;
}

#menu-right a:hover {
    background: #00d1cc;
}

.join-button {
    background: #ffff00 !important;
    color: #02040f;
    padding: 5px 8px;
    border-radius: 10px;
    text-decoration: none;
}

.join-button:hover {
    background: #d1cc00 !important;
}

#header-backing {
    position: sticky;
    top: 0;
    height: 95px;
    background: #02040f;
    z-index: 1;
}


/* Hero image */

#home {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    background: #02040f;
    z-index: 0;
}

#home img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: 10% 35%;

}

#fade-over-image {
    background: linear-gradient(rgba(0,0,0,0), #02040f);
    width: 100%;
    height: 40vh;
    position: absolute;
    bottom: 20vh;
    left: 0;
    z-index: 2;
}

/* Key points */

#key-points {
    height: 600px;
    width: 100%;
    background: #00ffff;
}

#slogan {
    color: #efe9fa;
    text-shadow: 5px 5px #02040f;
    font-style: italic;
    position: relative;
    top: 36vh;
}

#slogan h2 {
    opacity: 0.5;
    font-size: 100px;
}

#slogan h3 {
    line-height: 0;
    position: relative;
    bottom: 10px;
    font-size: 100px;
    padding-left: 30px;
}

.card {
    background: #476a6f;
    color: #fff;
    width: 280px;
    height: 280px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
    position: relative;
    top: 140px;
}

.card i {
    padding: 40px;
    font-size: 75px;
    color: #ffff00;
}

#left-card {
    float: right;
}

#center-card {
    margin: 0 auto;
}

#right-card {
    float: left;
}


/* About Us */

#about-us h2 {
    font-size: 90px;
    text-align: center;
    color: #02040f;
    text-shadow: 5px 5px #efe9fa;
    position: relative;
    bottom: 75px;
}

#about-us .single-centered-small {
    position: relative;
    bottom: 10px;
}

#about-us img {
    height: 350px;
    width: 350px;
    box-shadow: 5px 5px #476a6f;
    border-radius: 5px;
    background: pink;
    object-fit: cover;
}

#about-us p {
    float: right;
    width: 70%;
    font-size: 20px;
}

p a {
    color: #02040f;
    font-weight: 600;
}

p a:hover {
    background: #ffff00;
}

#about-us .join-button {
    margin: 30px auto 60px;
    font-size: 25px;
    width: 140px;
    border: 3px solid #02040f;
    border-radius: 15px;
    display: block;
    text-align: center;
    /* color: #02040f; */
}


/* Features/Peek Inside Gym */

#features {
    background: #efe9fa;
    height: 600px;
    width: 100%;
}

.features-caption-outer {
    width: 100%;
    height: 300px;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

.features-caption-inner {
    width: 400px;
    height: 150px;
    padding: 75px;
    margin: 0 auto;
}

.features-caption-inner h3 {
    text-transform: uppercase;
    margin-bottom: 5px;
}

.features-caption-inner p {
    width: 300px;
    margin: 0 auto;
}

.features-image {
    height: 300px;
    width: 100%;
}

.features-image img {
    height: inherit;
    width: inherit;
    object-fit: cover;
}


/* FAQs */

#faqs {
    width: 100%;
    padding-bottom: 250px;
    overflow: hidden;
}

#faqs h2 {
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 100px;
}

#faqs h2 i {
    color: #476a6f;
    font-size: 65px;
}

#faqs .single-centered-medium {
    position: relative;
    top: 150px;
}

details {
    background: #fff;
    border: 3px solid #02040f;
    border-bottom: 2px solid #02040f;
    background: #02040f;
    border-radius: 5px;
    width: 700px;
    font-size: 25px;
    margin: 50px auto;
    box-shadow: 5px 5px #476a6f;
    cursor: pointer;
}

summary {
    background: #00ffff;
    padding: 5px 15px;
    font-size: 30px;
    position: relative;
    bottom: 1px;
    border-radius: 4px;
}

summary::marker {
    color: #476a6f;
}

details p {
    padding: 15px;
}

details:hover summary {
    background: #00d1cc;
}

details[open] summary {
    background: #00ffff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

details[open] {
    border-bottom: 3px solid #02040f;
    background: #fff;
    cursor: default;
}


/* Reviews */

#reviews {
    width: 100%;
    overflow: hidden;
}
    
#reviews-outer {
    height: 650px;
    background: #ffff00;
    position: relative;
    width: 1000vw;
    left: -450vw;
}
    
#reviews h2 {
    font-size: 75px;
    text-align: center;
    position: relative;
    top: 100px;
    left: 300px;
    text-shadow: 3px 4px #476a6f;
}

#reviews-inner {
    position: relative;
    top: 100px;
    margin: 0 auto;
    width: 6000px;
    height: 260px;
}

#scrolling-reviews-container {
    display: block;
    background: #fff;
    position: absolute;
    left: 2575px;
    transition: all 0.5s;
  }

.member-review {
    border: #efe9fa solid 5px;
    border-radius: 5px;
    display: inline-block;
    width: 800px;
    height: 200px;
    font-size: 20px;
    margin: 20px;
    vertical-align: top;
}

.member-review h3 {
    margin: 20px;
}

.member-review p {
    margin: 20px;
}

button {
    position: absolute;
    top: 120px;
    background: #00ffff;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border: 3px #02040f solid;
    border-radius: 50%;
    z-index: 3;
}

button:hover {
    background: #00d1cc;
}

.left {
    left: 2500px;
}
    
.right {
    left: 3450px;
}

.top {
    z-index: 1;
}
    
.middle {
    z-index: 0;
}
    
.bottom {
    z-index: -1;
}

.blank {
    background: darkgrey !important;
    color: lightgrey !important;
}

.two:focus ~ #threeright {
    z-index: 2;
}
    
.two:focus ~ #oneleft {
    z-index: 2;
}
    
.three:focus ~ #blankright {
    z-index: 2;
}
    
.three:focus ~ #twoleft {
    z-index: 2;
}

.one:focus ~ #scrolling-reviews-container {
    left: 2575px;
} 
  
.two:focus ~ #scrolling-reviews-container {
    left: 1722px;
}
  
.three:focus ~ #scrolling-reviews-container {
  left: 870px;
}

#block-window {
    width: inherit;
    height: inherit;
    margin: 0 auto;
    position: relative;
}
  
#block-left {
    width: 2575px;
    background: #ffff00;
    height: inherit;
    float: left;
}
  
#block-right {
    width: 2575px;
    background: #ffff00;
    height: inherit;
    float: right;
}

#border {
    height: 240px;
    width: 840px;
    border: 5px #02040f solid;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    bottom: 260px;
}


/* Footer */

footer {
    background: #476a6f;
    height: 100px;
    width: 100%;
    color: #efe9fa;
    font-size: 15px;
}

footer .logo {
    position: relative;
    top: 15px;
    opacity: 0.8;
}

footer a {
    text-decoration: none;
} 

#social-media {
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    top: 5px;
    display: inline-block;
}

#social-media li {
    list-style-type: none;
    display: inline;
    margin: 10px;
}

#social-media a {
    color: #efe9fa;
    font-size: 20px
}

#footer-right a {
    float: right;
    background: #00ffff;
    color: #02040f;
    padding: 5px 8px;
    border-radius: 10px;
    position: relative;
    top: 35px;
}

#footer-right a:hover {
    background: #00d1cc;
}

#footer-right i {
    padding: 2px;
    position: relative;
    top: 1px;
}



/* Sign Up Page */

#header-opaque {
    background: #02040f;
}

#absolute-footer {
    position: absolute;
    bottom: 0;
}

#background-image {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #02040f;
}

#background-image img {
    width: 100%;
    object-fit: cover;
    object-position: 0 -150px;
    opacity: 0.5;
}

